h1 {
  color: #ffffff;
  font-size: 7rem;
}

.current_date {
  color: #e1c027;
  font-size: 3.5rem;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  line-height: 0;
}

.sunrise_container {
   width: 10%; 
   margin: auto 0;
}

.sunrise_icon {
  width: 50%;
}

.sunrise_text {
  font-weight: bold;
  font-size: 2rem;
}

.sunrise_time {
  font-weight: bolder; 
  float: left; 
  font-size: 2rem;
}

.masjid_name {
  margin: 0;
}

.current_date {
  margin: 0;
}

.current_time {
  width: 55%;
  font-size: 7rem;
}

.image_text_container {
  display: flex;
}

.prayer_time_dash {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}

.prayer_time_container {
  flex: 1 1 calc(33.33% - 1rem);
  box-sizing: border-box;
}

.next_prayer_minutes {
  color: #000;
  font-size: 3rem;
  margin: auto auto;
}

.next_prayer_span {
  color: #ff9772;
}

.spinner {
  display: inline-block;
  width: .5em;
  height: .5em;
  border: 5px solid #e1c027;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
  margin-left: 0.5em;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem; /* Smaller font size for mobile */
  }

  .current_date {
    font-size: 1rem; /* Adjust date font size */
  }

  .header {
    flex-direction: column; /* Stack items vertically */
    line-height: 1.5;
  }

  .sunrise_container {
    width: 100%; /* Full width for mobile */
    margin: 1rem 0;
  }

  .sunrise_icon {
    width: 15%;
  }

  .sunrise_text {
    font-size: 1rem; /* Adjust text size */
    margin: 0;
  }

  .sunrise_time {
    font-size: 1.2rem; /* Adjust time font size */
    float: none;
    margin: 0;
  }

  .current_time {
    width: 100%; /* Full width for mobile */
    font-size: 3rem; /* Smaller font size */
    margin: 0;
  }

  .image_text_container {
    display: block;
  }

  .masjid_name {
    font-size: 2rem;
  }

  .next_prayer_minutes {
    font-size: 1.5rem;
    padding: 15px 0;
  }
}